
<%= if @article.errors.any? %> <!-- afficher message d'erreur en cas de non respect des contraintes de validation -->
    <h2>The following errors prevented the article from being saved</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %> <!--parcourir chaque article pour détecter si erreurs et lui afficher le message d'erreur correspondant aux contraintes -->
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>

<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %> 